<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <!-- <link rel="stylesheet" href="main.css"> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!-- <script src="./templates/main.js"></script> -->
   
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <TITLE>NMC Video Analytic DashBoard</TITLE>
  </head>
  <body>

    <div class="col-md-12">
    <div class="col-md-6 offset-md-3 mt-5">
    
         <h1 align="center" >NMC Video Analytic Portal</h1>
         <br>
          <form accept-charset="UTF-8" action="count"  method="POST" enctype="multipart/form-data" >
           <div class="form-group">
            <label for="exampleFormControlSelect1">Medical College :</label>
            <!-- <select title="Select Medical College"  name="medicalcollegelist"  >
              {% for row in med_clg_list %}
              <option value='{{row}}'>{{row}}</option>
              {% endfor %}
            </select> -->
            <select title="Select Medical College" class="form-control select-input placeholder-active active focused" id="medicalcollegelist"  name="medicalcollegelist" >
              <option selected>--SELECT--</option>
              {% for row in med_clg_list %}
              <option value='{{row}}'>{{row}}</option>
              {% endfor %}
            </select>
            <hr/>
       
             <label for="exampleFormControlSelect1">Camera Location Area : </label>
             <!-- <select class="form-control" id="CameraLocationArea" name="CameraLocationArea" required="required">
               <option selected>--SELECT--</option>
               {% for row in med_clg_list %}
              <option value='{{row}}'>{{row}}</option>
              {% endfor %}
             </select> -->
             <select name="CameraLocationArea"  id="CameraLocationArea" class="form-control" title="Select Camera Area">
              <option selected>--SELECT--</option> </select>
             <hr/>

             <label for="exampleFormControlSelect1">Camera Location Sub Area :</label>
             <!-- <select class="form-control" id="CameraLocationSubArea" name="CameraLocationSubArea" required="required" title="Select Camera Sub Area">

               {% for row in med_clg_list %}
               <option value='{{row}}'>{{row}}</option>
               {% endfor %}
             </select> -->
             <select name="CameraLocationSubArea" data-live-search="true" id="CameraLocationSubArea" class="form-control" title="Select Camera Sub Area"> 
              <option selected>--SELECT--</option>
             </select>
             <hr/>
         
             <label for="exampleFormControlSelect1">Date and Time :&nbsp;&nbsp;   
              <input type="datetime-local" id="Test_DatetimeLocal" name="Test_DatetimeLocal">
            </label>

           </div>
           <hr>
           <!-- <div class="frame"> -->
            <!-- <div class="center"> -->
                <!-- <div class="title">
                    <label for="exampleInputName">Upload a file</label>
                </div> -->
        
                <!-- <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" name="uploadfile" class="upload-input" />
                </div> -->
        
                <!-- <button type="button" class="btn" name="uploadbutton">Upload file</button> -->
    
                <!-- <br>
                <button on type="submit" class="btn btn-primary">Upload file</button> -->
        
            <!-- </div> -->
           
            <br/>
            <div class="col-md-12 text-center">
            <button name="submitCount"  id="submitCount"  type="submit" class="btn btn-primary btn-lg text-center">Submit</button><br>
            </div>

            <!-- <button  target="_self" type="submit" class="btn btn-primary" >Submit</button> -->
          </form>
        </div>
      </div>  
          {% 
           if medicle_college and camera_location_area and camera_location_sub_area and date_and_time and filename and count : %}
          <form action="back" method="POST">
         
            <h1 align="center" style="width:100%; padding-top:10px; float:left; clear:both;">DashBoard</h1><br><br>
               
           <table class="table" style="width:50%" align="center">
            
            <!-- <tbody align="center">
             <tr>
             <td colspan="2"><h1>DashBoard<br></h1> </td>
             </tr>
      </tbody> -->
             <tbody align="center">
             <tr>
             <td class="table-primary"><b>Medicle College</b> </td>
             <td class="table-primary"><b>{{medicle_college}}</b></td>
             </tr>
           </tbody>
             <tbody align="center">
             <tr>
               <td class="table-success"><b>Camera Location Area </b></td>
               <td class="table-success"><b>{{camera_location_area}}</b></td>
             </tr>
           </tbody>
             <tbody align="center">
               <tr>
               <td class="table-danger"><b>Camera Location Sub Area</b></td>
               <td class="table-danger"><b>{{camera_location_sub_area}}</b></td>
               </tr>
             </tbody>
             <tbody align="center">
             <tr>
               <td class="table-warning"><b>Date </b></td>
               <td class="table-warning"><b>{{date_and_time.strftime("%B %d, %Y")}}</b></td>
             </tr>
           </tbody>
           <tbody align="center">
             <tr>
               <td class="table-info"><b>Time </b></td>
               <td class="table-info"><b>{{date_and_time.strftime("%I:%M %p")}}</b></td>
             </tr>
           </tbody>
             <br>
             <br>
             <table  style="width:50%" align="center" border="1px solid black">
               <tbody align="center">
                 <tr align="center">
                   <!-- <th scope="col">#</th> -->
                   <td scope="col"><b>Image Name</b></td>
                   <td scope="col"><b>Count</b></td>
                  
                 </tr>
               </tbody>
               <tbody align="center">
               {% for i in range(length) :  %}
               <tr>
               <!-- <td><a href=""><img id="imageview" src="" onclick="get_viewimage_view({{imageview[i]}})">{{filename[i]}}</a></td> -->
               <!-- <img id="image" src="https://media.geeksforgeeks.org/wp-content/uploads/20210915115837/gfg3.png" alt="GFG image" /> -->
               <td><a href=""  data-toggle="modal" data-target="#myModal" onclick="get_viewimage_view('{{imageview[i]}}')">{{filename[i]}}</a></td>
               <td>{{count[i]}}</td>
               </tr>
               {% endfor %}
               
               </tbody>
             </table>
       
             <!-- <thead align="center">
             <tr>
               <th class="table-danger">Head Count </th>
               <th class="table-danger">{{count}}</th>
             </tr>
             </thead> -->
             
       
             </table>
       
           <br>
           <!-- <div class="text-center">
           <button type="submit" class="btn btn-primary" >Back</button>
            </div> -->
         </form>
         <br>
     {% endif  %}

           <!-- <div id="tabld"></div>   -->
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body" id="imageviewidf">
            <img id="imageviewid" src="" width="450px"></img>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
            <br>
            <br>
          
        
        <script>
          $(document).ready(function () {
           
            var medicalcollegelistValue;
            var CameraLocationAreaValue;
            $(document).on("change", "#medicalcollegelist", function () {
              medicalcollegelistValue = $("#medicalcollegelist").val();
             
              load_data_area(medicalcollegelistValue);
            });
          
            function load_data_area( medicalcollegelistValue) {
                $.ajax({
                    url: "/cameraArea",
                    method: "POST",
                    data: {medicalcollegelistValue},
                    dataType: "json",
                    success: function (data) { 
                      
                      var html = "";
          
                      coll=data[0]
                      html += '<option value="">--SELECT--</option>"'
                                for (var count = 0; count < coll.length; count++) {
                                  
                                    html += '<option value="' + coll[count] + '">' + coll[count] + "</option>";
                                } 
                              
          
                                    $("#CameraLocationArea").html(html);
                                    
                                   
                                
                            },
                        });
                      }
          
                        $(document).on("change", "#CameraLocationArea", function () {
                           CameraLocationAreaValue =  $("#CameraLocationArea").val();
                          console.log(CameraLocationAreaValue)
                         
                          load_data_subarea(CameraLocationAreaValue);
                        });
                        
                        function load_data_subarea( CameraLocationAreaValue) {
                          $.ajax({
                              url: "/cameraSubArea",
                              method: "POST",
                              data: {medicalcollegelistValue,CameraLocationAreaValue},
                              dataType: "json",
                              success: function (data) { 
          
                                var html = "";
                                coll=data[0]
                                html += '<option value="">--SELECT--</option>"'
                                          for (var count = 0; count < coll.length; count++) {
                                           
                                              html += '<option value="' + coll[count] + '">' + coll[count] + "</option>";
                                          } 
                                        
              
                                              $("#CameraLocationSubArea").html(html);
                                              
                                            
                                          
                                      },
                                  });
                                }

                            
           
          });
          function get_viewimage_view(imageview){
            //alert('hello')
            //$("#viewimage_details").html(<img src="@imgSrc" width="100px"></img>);
            document.getElementById("imageviewid").src =  imageview;
            //$("#imageviewid").html(<img src="imageview" width="100px"></img>);
          }
          function submitForm() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/count', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
              
                var medicle_college = xhr.responseText.split(',')[0];
                var camera_location_area = xhr.responseText.split(',')[1];
                var processed_data = xhr.responseText.split(',')[2].split('|');
                var table1 = '<table><tr><th>Medical College</th><th>'+ medicle_college + '</th><th>Camera Location </th><th>' + camera_location_area +'</th></tr></table>';
                document.getElementById('tabld').innerHTML = table1;
               /* var table2 = '<table><tr><th>Image</th></tr>';
                for (var i = 0; i < processed_data.length; i++) {
                  table2 += '<tr><td>' + processed_data[i] + '</td></tr>';
                }
                table2 += '</table>';
                document.getElementById('table2').innerHTML = table2;*/
              
            };

          }
          
        </script>
  </body>
</html>

