<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
		@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
	</style>
	<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
	<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
	<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
</head>
<body style="height:70%">
	<!-- <header class="site-header" id="header">
		<h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
	</header>

	<div class="main-content">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<p class="main-content__body" data-lead-id="main-content-body">Thanks for contacting us.</p>
	</div> -->

	<form action="back" method="POST">
		<br>
		<br>
		<h1 align="center" >DashBoard</h1>
        
		<table class="table" style="width:50%" align="center">

		  <tbody align="center">
			<tr>
			<td class="table-primary"><b>Medicle College</b> </td>
			<td class="table-primary"><b>{{medicle_college}}</b></td>
			</tr>
		</tbody>
		  <tbody align="center">
			<tr>
			  <td class="table-success"><b>Camera Location Area </b></td>
			  <td class="table-success"><b>{{camera_location_area}}</b></td>
			</tr>
		</tbody>
			<tbody align="center">
			  <tr>
				<td class="table-danger"><b>Camera Location Sub Area</b></td>
				<td class="table-danger"><b>{{camera_location_sub_area}}</b></td>
			  </tr>
			</tbody>
			<tbody align="center">
				<tr>
				  <td class="table-warning"><b>Date </b></td>
				  <td class="table-warning"><b>{{date_and_time.strftime("%B %d, %Y")}}</b></td>
				</tr>
			  </tbody>
			  <tbody align="center">
				<tr>
				  <td class="table-info"><b>Time </b></td>
				  <td class="table-info"><b>{{date_and_time.strftime("%I:%M %p")}}</b></td>
				</tr>
			  </tbody>
			<br>
			<br>
			<table  style="width:50%" align="center" border="1px solid black">
				<tbody align="center">
					<tr align="center">
					  <!-- <th scope="col">#</th> -->
					  <td scope="col"><b>Image Name</b></td>
					  <td scope="col"><b>Count</b></td>
					 
					</tr>
				</tbody>
			  <tbody align="center">
				{% for i in range(length) :  %}
				<tr>
				<!-- <td><a href=""><img id="imageview" src="" onclick="get_viewimage_view({{imageview[i]}})">{{filename[i]}}</a></td> -->
				<!-- <img id="image" src="https://media.geeksforgeeks.org/wp-content/uploads/20210915115837/gfg3.png" alt="GFG image" /> -->
				<td><a href=""  data-toggle="modal" data-target="#myModal" onclick="get_viewimage_view('{{imageview[i]}}')">{{filename[i]}}</a></td>
				<td>{{count[i]}}</td>
				</tr>
				{% endfor %}
				
			  </tbody>
			</table>

			<!-- <thead align="center">
			<tr>
			  <th class="table-danger">Head Count </th>
			  <th class="table-danger">{{count}}</th>
			</tr>
			</thead> -->
			

		  </table>

	  <br>
	  <div class="text-center">
	  <button type="submit" class="btn btn-primary" >Back</button>
	   </div>
	</form>
	<br>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body" id="imageviewidf">
			<img id="imageviewid" src="" width="450px"></img>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<script>
	function get_viewimage_view(imageview){
		//alert('hello')
		//$("#viewimage_details").html(<img src="@imgSrc" width="100px"></img>);
		document.getElementById("imageviewid").src =  imageview;
		//$("#imageviewid").html(<img src="imageview" width="100px"></img>);
	}
/*function show() {
	
            /* Access image by id and change
            the display property to block
			//$("#imageview").html(<img id="image" src="" width="100px"></img>);
			$("#imageview").html(<img id="image" src="" width="100px"></img>);
            document.getElementById('image')
                    .style.display = "block";
 
            document.getElementById('btnID')
                    .style.display = "none";
        }*/
</script>
</body>
</html>